


        <section id="dante" class="arrive full">

          

        <nav >
        <h1 style="margin-bottom:5px;">Bienvenue sur votre espace Dante</h1>
        <img class="logo" src=" {{ asset('build/media/images/logo.png') }}"/>

        
        <div id="feature" style="width: 777px;
    margin: auto;
    margin-top: 7%;">
        <p>
        <h3>Menu principal</h3>

        <div style="text-align:center">


        <button class="actionbutton routing" data-id="services"><img class="logo" style="filter: invert(1);" src=" {{ asset('build/media/icons/services.png') }}"/><br>Prestation</button>
                <button class="actionbutton routing" data-id="billing"><img class="logo" style="filter: invert(1);" src=" {{ asset('build/media/icons/bill.png') }}"/><br>Facturation</button>
                     <button class="actionbutton routing" data-id="hire"><img class="logo" style="filter: invert(1);" src=" {{ asset('build/media/icons/hire.png') }}"/><br>Recrutement</button>
                </div>


                        <div style="text-align:center; margin-top:10px;">

                <button class="actionbutton routing" data-id="stat"><img class="logo" style="filter: invert(1);" src=" {{ asset('build/media/icons/statistic.png') }}"/><br>Statistique</button>
                        <button class="actionbutton routing" data-id="hr"><img class="logo" style="filter: invert(1);" src=" {{ asset('build/media/icons/rh.png') }}"/><br>Gestion RH</button>
                                <button class="actionbutton routing" data-id="maintask"><img class="logo" style="filter: invert(1);" src=" {{ asset('build/media/icons/tasks.png') }}"/><br>Tâches</button>
                
                </div>

        

        
        
        </p>
        </div>
             </nav>





    </section>



